<!--begin::Header-->
<div id="kt_app_header" class="app-header">
	<div class="app-container container-xxl d-flex align-items-stretch justify-content-between">
		<div class="d-flex align-items-center justify-content-between gap-4 flex-lg-grow-1 w-100" id="kt_app_header_wrapper">
            <div class="d-none d-md-block"></div>
            <span class="fs-2 fw-bold text-gray-900">FILE MANAGEMENT SYSTEM</span>
            <a href="{% url 'users:logout' %}" class="btn btn-primary d-md-block d-none"><i class="fa-solid fa-arrow-right-from-bracket align-middle fs-5 me-2"></i> Logout </a>
            <a href="{% url 'users:logout' %}" class="d-block d-md-none"><i class="fa-solid fa-arrow-right-from-bracket align-middle fs-5 me-2"></i></a>
		</div>
	</div>
</div>